<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:site" content="@vtytvm" />
  <link rel="icon" href="./favicon.ico" type="image/x-icon">
  <meta property="og:url" content="http://xxdevice.github.io/a/" />
  <meta property="og:title" content="XenobladeX武器アフィックス" />
  <meta property="og:site_name" content="XenobladeX武器アフィックス" />
  <meta property="og:description" content="ゼノブレイドクロスで武器掘る時、少し役に立つかもしれないツールを置いておきます。" />
  <meta property="og:image"  content="https://xx-device.herokuapp.com/img_ss.jpg" />
  
  <title>XenobladeX武器アフィックス</title>
  <link rel="stylesheet" href="./reset.css">
  <link rel="stylesheet" href="./main.css">
  <!-- <script defer src="https://use.fontawesome.com/releases/v5.8.1/js/all.js"
    integrity="sha384-g5uSoOSBd7KkhAMlnQILrecXvzst9TdC09/VM+pjDTCM+1il8RHz5fKANTFFb+gQ" crossorigin="anonymous">
  </script> -->
  <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous"> -->
</head>

<body>
  <div class="container">
    <div id="app">
      <div id="nav">
        <div class="navi-fix">
          <input type="radio" id="tab1" name="tab" value="-1" v-model="current"
            v-on:click='isSheat=true,isCreate=false,isFinish=false'>
          <label class="fgrow2" for="tab1">
            <div class="nav_tab">
              <p class="icon"><i class="fas fa-grip-horizontal"></i></p>
              <p class="text">一覧</p>
            </div>
          </label>
          <input type="radio" id="tab2" name="tab" value="0" v-model="current"
            v-on:click='isSheat=false,isCreate=true,isFinish=false'>
          <label class="fgrow2" for="tab2">
            <div class="nav_tab">
              <p class="icon"><i class="fas fa-list-ul"></i>
                <!-- ↓条件によってだしたり出さないようにすること -->

                <!-- <span v-if="computedCreate.length != 0" class="fa-layers-counter"
                  style="background:Tomato">{{ computedCreate.length }}</span> -->
                <!-- ↑条件によってだしたり出さないようにすること -->
              </p>
              <p class="text">メモ</p>
            </div>
          </label>
        </div>
      </div>

      <div id="main">
        <div id="container">
          <select id="weapons" v-model="selected">
            <option v-for="item in weapons" v-bind:value=item.weapon v-bind:label=item.weapon>{{ item.weapon }}</option>
          </select>
        </div>
      </div>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="./main.js"></script>
</body>

</html>